@font-face{ 
    font-family: 'Algiers';
    src:url('Algiers-Regular.woff2') format('woff2'),
    url('Algiers-Regular.woff') format('woff'),
    url('Algiers-Regular.ttf') format('truetype');
  }  
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--color-btn-outline-selected-bg);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-btn-outline-selected-bg);
    cursor: pointer;
  }

.scaletext-name, .scaletext-image {
   width: 50px;
   text-align: right;
}
input {
    margin-bottom: 0.7rem;
}

.Layout .Layout-main {
    background-image: linear-gradient(var(--color-accent-subtle), var(--color-accent-subtle));
}

.Layout-main .h1 {
    font-family: 'Merriweather', serif;
}
