@font-face{ 
    font-family: 'Algiers';
    src:url('Algiers-Regular.woff2') format('woff2'),
    url('Algiers-Regular.woff') format('woff'),
    url('Algiers-Regular.ttf') format('truetype');
  }  
.slider {
    width: 100%;
    border-radius: 5px;  
  }

.scaletext-name, .scaletext-image {
   width: 50px;
   text-align: right;
}
input {
    margin-bottom: 0.7rem;
}

.Layout .Layout-main {
    background-image: linear-gradient(var(--color-accent-subtle), var(--color-accent-subtle));
}

.Layout-main .h1 {
    font-family: 'Merriweather', serif;
}
